.shirt-list-div{
    padding: 8px;
}

.shirt-list-ul{
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.shirt-list-item {
    width: 25%;
    display: inline-block;
    font-size: 18px;
    text-align: center;
    background-color: black;
    color: aquamarine;
    padding: 1px;
    margin: 5px 5px;
}

#add-tshirt{
    background-color: black;
    color: aquamarine;
    text-align: right;
    width: fit-content;
    padding: 8px;
    border: 3px aquamarine solid;
    box-shadow: 0px 0px 5px 1px black;
}